.contact-body {
  margin: auto;
  position: fixed;
  background-blend-mode: overlay;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/grey-water.jpg), 
  #0F2027;  /* fallback for old browsers */
  background-image: url(../images/grey-water.jpg),
    -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(to right, #2C5364, #203A43, #0F2027),
    url(../images/grey-water.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  height: 100%;
  padding-top: 3em;
}

.contact-grid {
  text-align: center;
  width: 90%;
  height: 650px;
  box-shadow: 1px 4px 30px rgb(0, 0, 0);
  background: white;
  opacity: .9;
  color: black;
  border-radius: 10px;
  margin-top: 5em;
  animation: float 3.5s ease-in-out infinite;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 2px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 2px rgba(0,0,0,0.2);
		transform: translatey(-7px);
	}
	100% {
		box-shadow: 0 5px 15px 3px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

.contact-image {
  height: auto;
  width: 25em;
  margin-bottom: 1.5em;
  border-radius: 5%;
  box-shadow: 1px 4px 30px rgb(0, 0, 0);
}

.contact-grid h2 {
  font-weight: bold;
}

.contact-grid h6 {
  font-weight: bold;
  margin-top: -1.5em;
}

.contact-grid p {
  font-size: 1.25em;
  margin-top: .5em;
  font-weight: bold;
  padding: 0 12em 0 12em;
}

.contact-grid hr {
  width: 75%;
  margin: auto;
}

.contact-list {
  margin-left: 13.2em;
}

.contact-list i {
  margin-right: .5em;
}

.icon {
  font-size: 2em;
  font-weight: bold;
  margin-top: 1em;
}

.email, .phone {
  color: black !important;
}

.linked-in{
  color: black !important;
  margin-left: .12em;
}

@media only screen and (max-width: 600px) {
  .contact-body {
    margin: auto;
    position: fixed;
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/grey-water.jpg), 
    #0F2027;  /* fallback for old browsers */
    background-image: url(../images/grey-water.jpg),
      -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background-image: linear-gradient(to right, #2C5364, #203A43, #0F2027),
      url(../images/grey-water.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
    height: 100%;
    padding-top: 3em;
  }
  
  .contact-grid {
    text-align: center;
    width: 90%;
    height: 350px;
    box-shadow: 1px 4px 30px rgb(0, 0, 0);
    background: white;
    opacity: .9;
    color: black;
    border-radius: 10px;
    margin-top: 8em;
    animation: float 0s ease-in-out infinite;
  }
  
  .contact-image {
    height: auto;
    display: none;
    width: 25em;
    margin-bottom: 1.5em;
    border-radius: 5%;
    box-shadow: 1px 4px 30px rgb(0, 0, 0);
  }
  
  .contact-grid h2 {
    font-weight: bold;
    margin-top: -.5em;
  }

  .william {
    display: none;
  }
  
  .contact-grid h6 {
    display: none;
  }
  
  .contact-grid p {
    display: none;
  }
  
  .contact-grid hr {
    border-top: 5px dotted black;
    width: 100%;
    margin: auto;
  }
  
  .contact-list {
    margin-left: 0em;
    margin-top: 3em;
  }
  
  .contact-list i {
    margin-right: .5em;
    font-size: 5em;
  }
  
  .icon {
    font-size: .3em;
    font-weight: bold;
    margin-top: -3em;
  }
  
  .email, .phone {
    color: black !important;
    font-size: 4em;
  }

  .linked-in{
    color: black !important;
    margin-left: .12em;
    font-size: 4em;
  }
  
  
}